<div class="main d-flex flex-column mat-elevation-z8">
  <div class="header mat-elevation-z8 animate__animated animate__fadeInDown animate__delay-1s d-flex align-items-center justify-content-between">
    <h1 style="font-weight: 300;">Seivial</h1>
    <div class="d-none d-lg-flex d-xl-flex ">
      <div class="option">
        <a href="#">
          Articulos
        </a>
      </div>
      <div class="option">
        <a href="#">
          Servicios
        </a>
      </div>
      <div class="option">
        <a href="#">
          Nosotros
        </a>
      </div>
      <div class="option">
        <a href="#">
          Contacto
        </a>
      </div>
    </div>
  </div>
  <div class="body flex-grow-1 d-flex flex-column justify-content-center">
    <h1 class="header1 animate__animated animate__fadeInDown">Bienvenido a Seivial</h1>
    <h3 class="header2  animate__animated animate__fadeInDown animate__delay-1s">Seguridad e Investigación VIAL</h3>
  </div>
</div>
<div class="articles">
 Articulos
</div>
