.main {
  height: 100%;
}

.header{
  padding: 20px;
}

.option {
  margin-right: 10px;
  margin-left: 10px;
}

.body{
  padding: 20px;
}

.header1{
  font-size: 50px;
  font-weight: 300;
}

.header2{
  font-size: 30px;
  font-weight: 300;
}
a{
  color: black;
}